@model List<FootballClubApp.BLL.Entities.BasicInformations>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
          @Html.ActionLink("Dodaj", "AddBasicInformation", "BasicInformation", (object)null, new { @class= "btn btn-primary "})
    </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h2>Podstawowe Informacje</h2>
            <table>
                <tr>
                    <th>Informacja</th>
                    <th>Dane</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Information</td>
                        <td>@item.Data</td>
                    </tr>
                }
            </table>
        </div>
    </div>

